[submodule "relayserver"]
	path = relayserver
	url = ../relayserver.git
[submodule "website"]
	path = website
	url = ../website.git
[submodule "gameserver"]
	path = gameserver
	url = ../gameserver.git
